#header-padding {
  padding-top: 5px;
  margin-bottom: 5px;
}

#nav-readable {
  color: lightblue;
  text-shadow: 2px 2px 4px salmon;
}

.btn-back {
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-div {
  background-color: white;
  vertical-align: bottom;
  margin-top: 120px;
}

.oi {
  padding-right: 8px;
  padding-left: 8px;
}

.card {
  margin-bottom: 2px;
}

.post-category {
  color: salmon;
}

.author {
  color: salmon;
}

.date {
  color: lightblue;
  font-size: 12px;
}

.title {
  color: lightseagreen;
}

.score {
  color: salmon;
}

.down {
  color: red;
}

.down:hover {
  color: red;
}

.up {
  color: #007bff;
}

.up:hover {
  color: #007bff;
}